{% extends 'base.html.twig' %}

{% block title %}Join to Yoga session{% endblock %}

{% block body %}
<style>

</style>
    <nav id="navbar" class="navbar navbar-light bg-light mt-3">
        <a class="ml-5 navbar-brand" href="#">
            <img class="logo" src="{{ asset('build/img/logo.png') }}" width="auto" height="70" alt="logo">
        </a>
        <div class="dropdown mr-5">
            <button class="nav-icon btn btn-secondary dropdown-toggle mt-3" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span></span>
                    <span></span>
                    <span></span>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item mt-4" href="#">Class</a>
                <a class="dropdown-item mt-4" href="#">Promo</a>
                <a class="dropdown-item mt-4" href="#">Online</a>
                <a class="dropdown-item mt-4" href="#">Contact</a>
            </div>
        </div>
    </nav>
    <section id="main-img">
        <div class="jumbotron container-fluid pr-0 pl-0" style="">
            <div class="bg-cover">
                <img class="w-100 show-mobile" src="{{ asset('build/img/element_banneru.png') }}" alt="banner"/>
                <div class="container">
                    <p class="mt-3 mb-2 slogan">Health & Fresh</p>
                    <p class="mt-4 mb-2 title"> YOGA </p>
                    <p class="lead mt-4 mb-4 text">Lorem ipsum dolor sit amet, consectetur <br> adipiscing  elit, sed do eiusmod tempor</p>
                </div>
            </div>
        </div>
    </section>
    <section id="ourTeam">
        <div class="container-fluid p-0">
            <div class="half-circle-down text-center m-auto">
                <p class="pt-5 slogan">Meet Our</p>
                <p class="title">Yoga Classes</p>
            </div>
            <div class="row w-75 mt-5 text-center m-auto">
                <div class="col-lg-4 mt-5 text-center">
                    <img class="w-100" src="{{ asset('build/img/A.png') }}" alt="A"/>
                    <div class="card-body m-auto w-100 text-left pt-4 pl-5">
                        <h2 class="card-title">Hatha</h2>
                        <p class="card-text">Some quick example text to build on the card <br> and make up the bulk of the card's content.</p>
                        <hr>
                        <h4 class="day">Monday <span class="time ml-4"> 20:00 hs.</span></h4>
                    </div>
                </div>
                <div class="col-lg-4 mt-5">
                    <img class="w-100" src="{{ asset('build/img/B.png') }}" alt="A"/>
                    <div class="card-body m-auto w-100 text-left pt-4 pl-5">
                        <h2 class="card-title">Ashtanga</h2>
                        <p class="card-text">Some quick example text to build on the card<br> and make up the bulk of the card's content.</p>
                        <hr>
                        <h4 class="day">Tuesday <span class="time ml-4"> 18:00 hs.</span></h4>
                    </div>
                </div>
                <div class="col-lg-4 mt-5">
                    <img class="w-100" src="{{ asset('build/img/C.png') }}" alt="A"/>
                    <div class="card-body m-auto w-100 text-left pt-4 pl-5">
                        <h2 class="card-title">Kundalini</h2>
                        <p class="card-text">Some quick example text to build on the card <br> and make up the bulk of the card's content.</p>
                        <hr>
                        <h4 class="day">Friday<span class="ml-4 time"> 13:30 hs.</span></h4>
                    </div>
                </div>
            </div>
            <div class="col-12 text-center p-0 mb-5">
                <button type="button" class="button-more btn btn-primary btn-xs text-center m-5">Show more</button>
            </div>

        </div>
    </section>
    <section id="yoga-workshop" >
        <div class="container-fluid p-0">
            <div class="row w-75 mt-5 m-auto">
                <div class="col-md-1 d-none d-sm-block hide-sm">
                    <h6 class="vertical-text-sm">INITIATION</h6>
                </div>
                <div class="mobile-center col-md-4 col-xs-12">
                    <h2 class="slogan mb-2">
                        Yoga initiation
                    </h2>
                    <h3 class="title mb-5">
                        WORKSHOP
                    </h3>
                    <h4 class="day mb-4">
                        TRY YOUR FIRST FREE <br>
                        YOGA CLASSES
                    </h4>
                    <p class="time">
                        22.12.2020 <br>
                        24.03.2021
                    </p>
                </div>
                <div class="col-md-6 col-sm-12 text-center">
                    <img  class="w-100 w-mb-50" src="{{ asset('build/img/women.png') }}" alt="women"/>
                </div>
                <div class="col-md-1 col-sm-1 extra-padding d-none d-sm-block hide-sm">
                    <h4 class="vertical-text-lg pl-3">WORKSHOP</h4>
                </div>
            </div>
            <div class="half-circle-up">
                <div class="sm-logo text-center">
                    <img class="w-auto sm-image mt-5 pt-5" src="{{ asset('build/img/sygnet.png') }}" alt="sygnet"/>
                    <h4 class="mt-4 font-weight-bold">
                        SEND US MESSAGE
                    </h4>
                </div>
            </div>
            <form>
                <div class="form-row mb-w-100 force-w-50 m-auto text-center">
                    <div class=" p-mb col-6 pr-5">
                        <input type="text" class="form-control form-control-lg" placeholder="Name">
                    </div>
                    <div class="p-mb col-6 pl-5">
                        <input type="text" class="form-control form-control-lg" placeholder="Surname">
                    </div>
                    <div class="p-mb col-6 mt-5 pr-5">
                        <input type="text" class="form-control form-control-lg" placeholder="E-mail">
                    </div>
                    <div class="p-mb col-6 mt-5 pl-5">
                        <input type="text" class="form-control form-control-lg" placeholder="Phone">
                    </div>
                    <div class="col-12 mt-5">
                        <textarea class="form-control form-control-lg message-box" name="message"
                        rows="6" placeholder="Your message..." required></textarea>
                    </div>
                </div>
                <div class="col-12 text-center p-0">
                    <button type="button" class="button-more btn btn-primary btn-xs text-center m-5">SEnd Message</button>
                </div>
            </form>
        </div>
    </section>
    <section id="footer">
        <div class="container-fluid text-center pt-5 pb-4 mb-5 p-0">
            <div class="row footer m-auto">
                <div class="col-12">
                    <h2 class="text-left mobile-center">About</h2>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <p class="text text-left pt-3 mobile-center">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,<br>
                        sed do eiusmod tempor incididunt sed do eiusmo. <br>
                        sed do eiusmo.
                    </p>
                    <a class="navbar-brand w-100 mt-4 text-left d-none d-sm-block hide-sm" href="#">
                        <img class="text-left" src="{{ asset('build/img/logo.png') }}" width="auto" height="70" alt="logo">
                    </a>

                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 pl-5 p-mb w-33">
                    <h3 class="text-left pt-4 mobile-center">About</h3>
                    <div class="footer-list-group d-flex flex-column text-left mt-3 mobile-center">
                        <a href="#" class="list-item">Team</a>
                        <a href="#" class="list-item">Join</a>
                        <a href="#" class="list-item">Ethic</a>
                        <a href="#" class="list-item">Goals</a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 pl-5 p-mb w-33">
                    <h3 class="text-left pt-4 mobile-center">About</h3>
                    <div class="footer-list-group d-flex flex-column text-left mt-3 mobile-center">
                        <a href="#" class="list-item">Team</a>
                        <a href="#" class="list-item">Join</a>
                        <a href="#" class="list-item">Ethic</a>
                        <a href="#" class="list-item">Goals</a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 pl-5 p-mb w-33">
                    <h3 class="text-left pt-4 mobile-center">About</h3>
                    <div class="footer-list-group d-flex flex-column text-left mt-3 mobile-center">
                        <a href="#" class="list-item">Team</a>
                        <a href="#" class="list-item">Join</a>
                        <a href="#" class="list-item">Ethic</a>
                        <a href="#" class="list-item">Goals</a>
                    </div>
                </div>
                <a class="hidden-lg navbar-brand w-100 mt-4 text-left" href="#">
                    <img class="text-left" src="{{ asset('build/img/logo.png') }}" width="auto" height="70" alt="logo">
                </a>
            </div>
        </div>
    </section>
{% endblock %}
